<h3>Title:  <%= movie.Title %> </h3>
<h3>Year:  <%= movie.Year %> </h3>
<h3>Released:  <%= movie.Released %> </h3>
<h3>Runtime:  <%= movie.Runtime %> </h3>
<h3>Genre:  <%= movie.Genre %> </h3>
<h3>Director:  <%= movie.Director %> </h3>
<h3>Writer:  <%= movie.Writer %> </h3>
<h3>Actors:  <%= movie.Actors %> </h3>
<h3>Language:  <%= movie.Language %> </h3>
<h3>Country:  <%= movie.Country %> </h3>
<h3>imdbRating:  <%= movie.imdbRating %> </h3>
