<h1><%= title %></h1>
<img src="<%= poster %>" class="posterdetails" />
<p><%= rating %>/10</p>
<div class="details">
  <ul>
    <% for (const [k, v] of Object.entries(details)){ %>
    <li>
      <span class="key"><%= k %>: </span><span class="value"><%= v %></span>
    </li>
    <%}; %>
  </ul>
</div>
