<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card p-5 text-white" style="background-image:url('<%= json2.Poster %>'); background-size: cover;">
            <h1 class="card-title"><%= json2.Title %> </h1>
            <div class="card-body">
                <h6><%= json2.Rated %> </h6>
                <p>Released: <%= json2.Released  %>| Director: <%= json2.Director %></p>
                <h5>cast</h5>
                <ul>
                    <%= json2.Actors %>
                </ul>
            </div>
            
        
        </div>

    </div>
</body>
</html>





<% // This is how to do comments in EJS, by the way... %>
