<h2><%= movieDetails.Title %></h2>
<img src="<%= movieDetails.Poster %>" alt="<%= movieDetails.Title %>">

<% for (let [key, value] of Object.entries(movieDetails)) { %>
<% console.log(String(key)); %>
<% if (key !== 'Title' && key !== 'Poster' && key !== 'Ratings') { %>
<p><%= key + ': ' + value; %></p>
<% } else if (key === 'Ratings') { %>
<p><%= key + ':'; %></p>
<ul>
  <% value.forEach(element => { %>
  <li><%= element.Source + ': ' + element.Value; %></li>
  <% }); %>
</ul>
<% } %>
<% } %>