<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

    <h3><%=obj.Title %></h3>
    <img src="<%= obj.Poster %>" width="150" height="auto">

    <ul>
        <li>Year: <%= obj.Year %> </li>
        <li>Rated: <%= obj.Rated %> </li>
        <li>Released: <%= obj.Released %></li>
        <li>Genre: <%= obj.Genre %></li>
        <li>Director: <%= obj.Director %></li>
        <li>Writer: <%= obj.Writer %></li>
        <li>Actors: <%= obj.Actors %></li>
        <li>Plot: <%= obj.Plot %></li>
        <li>Language: <%= obj.Language %></li>
        <li>Country: <%= obj.Country %></li>
        <li>Awards: <%= obj.Awards %></li>
    </ul>
   
  