<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<h1><%= title %></h1>
</div>
<img src="<%= details.Poster %>"/>
<p><%= rating %>/10</p>
<div class="details">
  <ul>
    <% for (const [x, y] of Object.entries(details)){ %>
    <%}; %>
  </ul>
<form action="/" method="POST">
  <input type="submit" value='SAVE'>
  <input type="hidden" name="title" value="<%=details.Title%>">
  <input type="hidden" name="imdbid" value="<%=details.imdbID%>">
</form>
</div>



 