<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<form method="POST" action="/faves">
    <input type="hidden" value="<%= movieTitle.Title %>" name="title">
    <input type="hidden" value="<%= movieTitle.imdbID %>" name="imdbid"> 
    <button type="submit">Add to your faves</button>
</form>

<h1> <%= movieTitle.Title %>   </h1> 
<img src="<%= movieTitle.Poster %>" alt="<%= movieTitle.Title %>Poster">
<ul>
    <% for (const [key, value] of Object.entries(movieTitle)) { %> 
        
        <li> <%= key %>: <%= value %></li>
         
    <% } %> 
</ul>