<h1 class='siteTitle'>
    FAVORITE MOVIES:
</h1>
<div class="movieGrid">
    <% faves.forEach((fave) => { %>
        <div class="movieDetail">
            <h4 class='title'>
                <%= fave.data.Title.toUpperCase() %>
            </h4>
            <% if (fave.data.Poster !== 'N/A') { %>
                <a class='img' href="/movies/<%= fave.data.imdbID %> "><img src="<%= fave.data.Poster %> " alt="<%= fave.data.Title %> "></a>
                <% } else { %>
                    <a class='img' href="/movies/<%= fave.data.imdbID %> ">Poster not found</a>
                    <% } %>
                        <a class='viewMore' href="/movies/<%= fave.data.imdbID %> ">View More</a>

        </div>
        <% }) %>
</div>