<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

 <h1><%= title %></h1>
<ul>
  <% results.forEach (movie => {%>
  <li>
    <div class="results">
      <div class="poster">
        <img src="<%= movie.Poster %>" />
      </div>
      <div class="text">
        <span>Title:</span>
        <span><%= movie.Title %></span><br>
        <span>Year:</span>
        <span><%= movie.Year %></span><br>
        <span>imdbID:</span>
        <span><%= movie.imdbID %></span><br>
        <span>Type:</span>
        <span><%= movie.Type %></span><br>
        <a href="/movies/<%= movie.imdbID %>">LINK</a>
      </div>
    </div>
  </li>
  <% }); %>
</ul> 