<h1><%= title %></h1>
<h2>Matches <%= results.length %></h2>
<ul>
  <% results.forEach (movie => {%>
  <li>
    Title: <%= movie.Title %> <br />
    Year: <%= movie.Year %> <br />
    imdbID: <%= movie.imdbID %> <br />
    Type: <%= movie.Type %> <br />
    <img src="<%= movie.Poster %>" /><br />
    <a href = "/movies/<%= movie.imdbID %>">LINK</a>
  </li>
  <% }); %>
</ul>
