<h1><%= title %></h1>
<ul>
  <% results.forEach (movie => {%>
  <li>
    <div class="results">
      <div class="poster">
        <img src="<%= movie.Poster %>" />
      </div>
      <div class="text">
        <span class="key">Title:</span>
        <span class="value"><%= movie.Title %><br /> </span>
        <span class="key">Year:</span>
        <span class="value"><%= movie.Year %> </span><br />
        <span class="key">imdbID:</span>
        <a href="/movies/<%= movie.imdbID %>"><span class="value"><%= movie.imdbID %> </span></a><br />
        <span class="key">Type:</span>
        <span class="value"><%= movie.Type %> </span><br />
        <a href="/movies/<%= movie.imdbID %>">LINK</a>
      </div>
    </div>
  </li>
  <% }); %>
</ul>
