<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>
<h1>OMDB Movie Search</h1>
<p>results:</p>

<ul>
    <% movies.forEach(movie => { %>
        <li>Title: <%= movie.Title %> 
            Year: <%= movie.Year %> 
             <a href="/movies/<%= movie.imdbID %>">imdbID</a>     
        Type: <%= movie.Type %> 
        <img src="<%= movie.Poster %>" alt="poster">      
        </li>
    <% }) %> 

</ul>
        
             


