<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>
<h1>Search results for: <%= search %></h1>
  <% results.forEach (movie => {%>
  <ul>
    <img src="<%= movie.Poster %>" alt="<%= movie.Title %> Poster">
    </br>
    </br>
    <li><a href="/movies/<%= movie.imdbID %>">More Details</a></li>
    <% for (let key in movie) { %>
    <li><%= key %>: <%= movie[key] %></li>
    <% } %>
  </ul>
  <% }); %>